<div class="content">
  <ul id="list">
    <!-- // app-listing component -->
    <li class="content__item" *ngFor="let item of itemList">
      <i
        class="fas fa-check-circle co"
        (click)="completeToDo(item)"
        *ngIf="item.done"
      ></i>

      <i
        class="far fa-circle co"
        (click)="completeToDo(item)"
        *ngIf="!item.done"
      ></i>
      <p class="content__text">
        <span *ngIf="!item.done">{{ item.name }}</span>
        <s *ngIf="item.done">{{ item.name }}</s>
      </p>
      <i
        class="far fa-trash-alt de"
        (click)="deleteItem(item.id)"
        *ngIf="!item.trash"
      ></i>
    </li>
  </ul>
</div>
